mixin b-post-case-preaview(bPostCasePreaview_settings, ctrl, img, title, text)
	if bPostCasePreaview_settings == "angular"
		.b-post-case-preaview
			.h-img-and-link
				.h-link-bottom
					.b-post-case-preaview__button
						span.b-button._big(ng-click="#{ctrl}.alertShow = true ; #{ctrl}.alertShowidImg = item.img") Big
						span.b-button._more(ng-click="#{ctrl}.articleShow = true ; #{ctrl}.articleId = $index") More
				img.b-post-case-preaview__img(src="assets/images/cases/gal-{{ item.img }}.jpg")
			a(href="#").b-post-case-preaview__title {{ item.title }}
			p.b-post-case-preaview__text {{ item.text }}
	else
		.b-post-case-preaview
			.h-img-and-link
				img.b-post-case-preaview__img(src="assets/images/cases/gal-#{img}.jpg")
			a(href="#").b-post-case-preaview__title #{title}
			p.b-post-case-preaview__text #{text}
