mixin b-blog-post-preaview(date, commentCount, img, title, text)
	.b-blog-post-preaview
		.h-blog-post-preaview-header
			span.b-blog-post-preaview__date #{date}
			a(href="#").b-blog-post-preaview__comment-count #{commentCount}
		img.b-blog-post-preaview__img(ng-src="./../../../../assets/images/blog-post-preaview/news-#{img}.jpg")
		h4.b-blog-post-preaview__title #{title}
		p.b-blog-post-preaview__text #{text}
