mixin b-slider-testimonials(ctrl, data, text, pic, name, profession)
	.b-slider-testimonials(slider-testimonials-dir ng-controller="#{ctrl}Ctrl as #{ctrl}")
		.b-slider-testimonials__items
			.b-testimonials-post(ng-repeat="item in #{ctrl}.#{data}")
				p.b-testimonials-post__text "{{ item.#{text} }}"
					.h-author
						img.b-testimonials-post__pic(ng-src="./../../../../assets/images/testimonial/testimonial-{{ item.#{pic} }}.jpg")
						h6.b-testimonials-post__name {{ item.#{name} }}
						span.b-testimonials-post__profession {{ item.#{profession} }}
		.b-slider-testimonials__controls
			span.b-arrow._prev(ng-click="prev()")
			span.b-arrow._next(ng-click="next()")
