mixin b-alert(ctrl)
	.h-alert(
			ng-class="{'_active' : #{ctrl}.alertShow}"
			ng-click="#{ctrl}.alertShow = false"
		)
		.b-alert
			img.b-alert__img(ng-src="./../../../../assets/images/cases/gal-{{ #{ctrl}.alertShowidImg }}.jpg")

